.env
./ES/data/a0000000a.geojson
./ES/data/a0000000b.geojson
./ES/data/a0000000c.geojson
./ES/data/a00000009.geojson
./ES/data/Munich_220713_All.geojson
./geoserver/ec_data/geopackage/a0000000a.gpkg
./geoserver/ec_data/geopackage/a0000000b.gpkg
./geoserver/ec_data/geopackage/a0000000c.gpkg
./geoserver/ec_data/geopackage/a00000009.gpkg
./ES/data/hex350_grid_access2openspace.geojson
./ES/data/hex350_grid_active2020.geojson
./ES/data/hex350_grid_age2020.geojson
./ES/data/hex350_grid_avgLST.geojson
./ES/data/hex350_grid_cardio_1920.geojson
./ES/data/hex350_grid_crime_22.geojson
./ES/data/hex350_grid_cycleroutes2021.geojson
./ES/data/hex350_grid_demantia_1920.geojson
./ES/data/hex350_grid_depression_1920.geojson
./ES/data/hex350_grid_flood_4band.geojson
./ES/data/hex350_grid_gender2020.geojson
./ES/data/hex350_grid_hindex2020.geojson
./ES/data/hex350_grid_LAeq16h.geojson
./ES/data/hex350_grid_mental_1920.geojson
./ES/data/hex350_grid_ndvi2022.geojson
./ES/data/hex350_grid_no2_2019.geojson
./ES/data/hex350_grid_obesity_1920.geojson
./ES/data/hex350_grid_pm10_2019.geojson
./ES/data/hex350_grid_pm25_2019.geojson
./geoserver/ec_data/geopackage/munich_220713_all.gpkg
./geoserver/ec_data/geopackage/hex350_grid_access2openspace.gpkg
./geoserver/ec_data/geopackage/hex350_grid_active2020.gpkg
./geoserver/ec_data/geopackage/hex350_grid_age2020.gpkg
./geoserver/ec_data/geopackage/hex350_grid_avgLST.gpkg
./geoserver/ec_data/geopackage/hex350_grid_cardio_1920.gpkg
./geoserver/ec_data/geopackage/hex350_grid_crime_22.gpkg
./geoserver/ec_data/geopackage/hex350_grid_cycleroutes2021.gpkg
./geoserver/ec_data/geopackage/hex350_grid_demantia_1920.gpkg
./geoserver/ec_data/geopackage/hex350_grid_depression_1920.gpkg
./geoserver/ec_data/geopackage/hex350_grid_flood_4band.gpkg
./geoserver/ec_data/geopackage/hex350_grid_gender2020.gpkg
./geoserver/ec_data/geopackage/hex350_grid_hindex2020.gpkg
./geoserver/ec_data/geopackage/hex350_grid_LAeq16h.gpkg
./geoserver/ec_data/geopackage/hex350_grid_mental_1920.gpkg
./geoserver/ec_data/geopackage/hex350_grid_ndvi2022.gpkg
./geoserver/ec_data/geopackage/hex350_grid_no2_2019.gpkg
./geoserver/ec_data/geopackage/hex350_grid_obesity_1920.gpkg
./geoserver/ec_data/geopackage/hex350_grid_pm10_2019.gpkg
./geoserver/ec_data/geopackage/hex350_grid_pm25_2019.gpkg
./geoserver/ec_data/geopackage/hex350_grid_popden_2020.gpkg
./ES/data/AirQuality.AirPressure.geojson
./ES/data/AirQuality.Humidity.geojson
./ES/data/AirQuality.IAQIndex.geojson
./ES/data/AirQuality.Temperature.geojson
./ES/data/AmbientLight.AmbientLight.geojson
./ES/data/AnalogIn.Voltage.geojson
./ES/data/CO2V2.CO2Conc.geojson
./ES/data/CO2V2.Humidity.geojson
./ES/data/CO2V2.Temperature.geojson
./ES/data/GPS.Data.geojson
./ES/data/GPS.Time.geojson
./ES/data/Humidity.Humidity.geojson
./ES/data/SoundPressureLevel.SPL.geojson
./logstash/data/metadata.csv
#./geoserver/data_geoserver/gwc-layers/
./geoserver/data_geoserver/logs/
./geoserver/data_geoserver/security/


