# =================================================================
#
# Authors: doublebyte1 <jo@byteroad.net>>
#          pascalike <ant@byteroad.net>
#
# Copyright (c) 2022 doublebyte
# Copyright (c) 2019 pascalike
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# =================================================================

version: '3.3'

services:
  pygeoapi:
    image: geopython/pygeoapi:latest

    container_name: pygeoapi_es
    entrypoint:
      - /es-entrypoint.sh

    networks:
      - proxynet
      - default
      
    volumes:
      #- ./pygeoapi/docker.config.yml:/pygeoapi/local.config-orig.yml
      - ./pygeoapi/docker.config.yml:/pygeoapi/local.config.yml
      - ./pygeoapi/es-entrypoint.sh:/es-entrypoint.sh
      - ./pygeoapi/wait-for-elasticsearch.sh:/wait-for-elasticsearch.sh
      - ./ES/data:/data
    links:
      - elastic_search

    depends_on:
      - elastic_search

  elastic_search:
    build: ./ES

    container_name: elastic

    environment:
       - "discovery.type=single-node"
       - bootstrap.memory_lock=true
       - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
       - "logger.level=WARN"
    ulimits:
       memlock:
         soft: -1
         hard: -1

    ports:
      - 9300:9300
      - 9200:9200
    volumes:
      - elastic_search_data:/usr/share/elasticsearch/data
      - ./ES/data:/in

  kib01:
    image: docker.elastic.co/kibana/kibana:7.5.1
    container_name: kibana
    ports:
      - 5601:5601
    environment:
      ELASTICSEARCH_URL: http://elastic:9200
      ELASTICSEARCH_HOSTS: '["http://elastic:9200"]'
      SERVER_BASEPATH: /dashboard
      #SERVER_HOST: emotional.byteroad.net

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd
      - ./nginx:/etc/nginx/conf.d
      - /etc/letsencrypt/:/etc/letsencrypt/
      - /etc/ssl/certs/dhparam.pem:/etc/ssl/certs/dhparam.pem
      - ./nginx/options-ssl-nginx.conf:/etc/options-ssl-nginx.conf
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    networks:
      - proxynet
      - default
    restart: unless-stopped
    depends_on:
      - pygeoapi

  metadata_logstash:
    build: ./logstash
    container_name: metadata_logstash
    environment:
      ELASTICSEARCH_URL: http://elastic:9200
      ELASTICSEARCH_HOSTS: '["http://elastic:9200"]'
      XPACK_MONITORING_ENABLED: 'false'
      LOG_LEVEL: 'error'
    links:
      - elastic_search
    depends_on:
      - elastic_search

  geopackage_pusher:
    build: ./gdal
    container_name: geopackage_pusher
    volumes:
      - ./gdal/data:/in
      - ./ES/data:/out
    links:
      - elastic_search
    depends_on:
      - elastic_search
    command: bash -c "/docker-entrypoint.sh masked"


volumes:
  elastic_search_data: {}

networks:
  default:
    driver: bridge
  proxynet:
    name: minioNet # Minio's network

#NOTE: Host requires changes in configuration to run ES
#sudo sysctl -w vm.max_map_count=262144
