<settings>
  <id>SettingsInfoImpl--4d25fb6:188009d2e26:-7ffa</id>
  <workspace>
    <id>WorkspaceInfoImpl--4d25fb6:188009d2e26:-7ffc</id>
    <name>ngr</name>
    <isolated>false</isolated>
    <dateCreated>2023-05-12 07:46:44.343 UTC</dateCreated>
    <dateModified>2023-05-12 07:47:08.851 UTC</dateModified>
  </workspace>
  <contact>
    <id>contact</id>
    <contactEmail>info@byteroad.net</contactEmail>
    <contactOrganization>eMOTIONAL Cities</contactOrganization>
    <contactPerson>Byte Road</contactPerson>
    <onlineResource>https://emotionalcities-h2020.eu/</onlineResource>
    <welcome>Mapping the cities through the senses of those who make them.</welcome>
    <internationalAddress class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCity class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCountry class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressDeliveryPoint class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressPostalCode class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressState class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressType class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactEmail class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactFacsimile class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactOrganization class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPerson class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPosition class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactVoice class="org.geotools.util.GrowableInternationalString"/>
    <internationalOnlineResource class="org.geotools.util.GrowableInternationalString"/>
    <internationalWelcome class="org.geotools.util.GrowableInternationalString"/>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>4</numDecimals>
  <verbose>true</verbose>
  <verboseExceptions>false</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
  <showCreatedTimeColumnsInAdminList>false</showCreatedTimeColumnsInAdminList>
  <showModifiedTimeColumnsInAdminList>false</showModifiedTimeColumnsInAdminList>
  <defaultLocale>en_001</defaultLocale>
  <useHeadersProxyURL>false</useHeadersProxyURL>
</settings>