# =================================================================
#
# Authors: Just van den Broecke <justb4@gmail.com>>
#          Jorge Samuel Mendes de Jesus <jorge.dejesus@geocat.net>
#          Tom Kraldis <tomkralidis@gmail.com>
#
# Copyright (c) 2019 Just van den Broecke
# Copyright (c) 2019 Jorge Samuel Mendes de Jesus
# Copyright (c) 2020 Tom Kralidis
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# =================================================================

server:
    bind:
        host: 0.0.0.0
        port: 80
    url: http://localhost/
    mimetype: application/json; charset=UTF-8
    encoding: utf-8
    gzip: false
    language: en-US
    cors: true
    pretty_print: true
    limit: 10
    # templates: /path/to/templates
    map:
        url: https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'

logging:
    level: ERROR
    #logfile: /tmp/pygeoapi.log

metadata:
    identification:
        title: pygeoapi eMOTIONAL Cities instance
        description: Provides an API to eMOTIONAL Cities geospatial data
        keywords:
            - geospatial
            - data
            - api
            - eMOTIONAL Cities
            - Neuroscience
            - Urban Planning
            - H2020
        keywords_type: theme
        terms_of_service: https://creativecommons.org/licenses/by/4.0/
        url: http://example.org
    license:
        name: CC-BY 4.0 license
        url: https://creativecommons.org/licenses/by/4.0/
    provider:
        name: ByteRoad
        url: https://byteroad.net
    contact:
        name: ByteRoad
        position: Maintainer
        address: R. Ricardo Espirito Santo
        city: Lisbon
        stateorprovince: Lisbon
        postalcode: 1200
        country: Portugal
        phone: +xx-xxx-xxx-xxxx
        fax: +xx-xxx-xxx-xxxx
        email: info@byteroad.net
        url: https://byteroad.net
        hours: Hours of Service
        instructions: During hours of service.  Off on weekends.
        role: pointOfContact

resources:

    activity_level_ldn:
        type: collection
        title: Physical activity levels in London Boroughs in 2019
        description: Physical activity levels in London Boroughs in 2019 was extracted from the Active Lives Survey Nov 19/20. The number refers to the ratio of active people (at least 30mins per week).
        keywords:
            - Mesurements
            - Health
            - London
            - eMOTIONAL Cities
        links:
            - type: text/html
              rel: canonical
              title: metadata
              href: https://emotional.byteroad.net/collections/ec_catalog/items/9b32e1572c4f4c69861d0e50cf6782
              hreflang: en-US
        extents:
            spatial:
                bbox: [-1.11,51.06,0.87,51.90]
                crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        providers:
            - type: feature
              name: Elasticsearch
              data: http://elastic_search:9200/activity_level_ldn
              id_field: GSS_CODE
              format:
                    name: pbf
                    mimetype: application/vnd.mapbox-vector-tile

    cardivasular_disease_ldn:
        type: collection
        title: Mortality rate from all cardiovascular diseases in London Boroughs 2020
        description: Mortality rate per 100k people (under 75 mortality rate) from all cardiovascular diseases in London Boroughs 2020.
        keywords:
            - Mesurements
            - Health
            - London
            - eMOTIONAL Cities
        links:
            - type: text/html
              rel: canonical
              title: metadata
              href: https://emotional.byteroad.net/collections/ec_catalog/items/6c22e1572c4f4a44121d0e50cf6141
              hreflang: en-US
        extents:
            spatial:
                bbox: [-1.11,51.06,0.87,51.90]
                crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        providers:
            - type: feature
              name: Elasticsearch
              data: http://elastic_search:9200/cardivasular_disease_ldn
              id_field: GSS_CODE
              format:
                    name: pbf
                    mimetype: application/vnd.mapbox-vector-tile

    tweet_count_sample:
        type: collection
        title: Number of tweets in hexagon cells of London (August 2021)
        description: Number of tweets in hexagon cells of London (August 2021). Twitter data was collected via Academic Research product track API. The horizontal and vertical spacing of hexagon cells are 500 meters.
        keywords:
            - Mesurements
            - Health
            - London
            - eMOTIONAL Cities
        links:
            - type: text/html
              rel: canonical
              title: metadata
              href: https://emotional.byteroad.net/collections/ec_catalog/items/11v2e1549c2t5669861d0e50cf6h66
              hreflang: en-US
        extents:
            spatial:
                bbox: [-1.11,51.06,0.87,51.90]
                crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        providers:
            - type: feature
              name: Elasticsearch
              data: http://elastic_search:9200/tweet_count_sample
              id_field: id
              format:
                    name: pbf
                    mimetype: application/vnd.mapbox-vector-tile

    ec_catalog:
        type: collection
        title: eMOTIONAL Cities Metadata catalog
        description: eMOTIONAL Cities Metadata catalog (OGC API Records)
        keywords:
            - Mesurements
            - Environmental
            - Lisbon
            - London
            - eMOTIONAL Cities
            - Neuroscience
            - Urban Planning
            - H2020
        links:
            - type: text/html
              rel: canonical
              title: information
              href: http://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-populated-places/
              hreflang: en-US
            - type: application/gzip
              rel: canonical
              title: download
              href: http://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_populated_places_simple.zip
              hreflang: en-US
        extents:
            spatial:
                bbox: [-1.11,51.06,0.87,51.90]
                crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        providers:
            - type: record
              name: Elasticsearch
              data: http://elastic_search:9200/ec_catalog
              id_field: id
              time_field: datetime

    masked:
        type: collection
        title: Example features
        description: Tech demo data from eMOTIONAL Cities.
        keywords:
            - Mesurements
            - Environmental
            - Lisbon
            - eMOTIONAL Cities
            - Neuroscience
            - Urban Planning
            - H2020
        links:
            - type: text/html
              rel: canonical
              title: information
              href: http://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-populated-places/
              hreflang: en-US
            - type: application/gzip
              rel: canonical
              title: download
              href: http://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_populated_places_simple.zip
              hreflang: en-US
        extents:
            spatial:
                bbox: [-180,-90,180,90]
                crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        providers:
            - type: feature
              name: Elasticsearch
              #Note elastic_search is the docker container of ES the name is defined in the docker-compose.yml
              data: http://elastic_search:9200/masked
              id_field: fid
            - type: tile
              name: MVT
              data: http://minio:9000/masked/{z}/{x}/{y}
              options:
                metadata_format: tilejson # default | tilejson
                bounds: [[-9.1353880000000007, 38.7098030000000008],[-9.1282750000000004, 38.7172610000000006]]
                zoom:
                    min: 0
                    max: 16
                schemes:
                    - WorldCRS84Quad
              format:
                    name: pbf
                    mimetype: application/vnd.mapbox-vector-tile

    masked_rec:
        type: collection
        title: Example metadata
        description: Tech demo metadata from eMOTIONAL Cities. One metadata record for each feature.
        keywords:
            - Mesurements
            - Environmental
            - Lisbon
            - eMOTIONAL Cities
            - Neuroscience
            - Urban Planning
            - H2020
        links:
            - type: text/html
              rel: canonical
              title: information
              href: http://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-populated-places/
              hreflang: en-US
            - type: application/gzip
              rel: canonical
              title: download
              href: http://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_populated_places_simple.zip
              hreflang: en-US
        extents:
            spatial:
                bbox: [-9.1353880000000007,38.7098030000000008,-9.1282750000000004,38.7172610000000006]
                crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        providers:
            - type: record
              name: Elasticsearch
              #Note elastic_search is the docker container of ES the name is defined in the docker-compose.yml
              data: http://elastic_search:9200/masked_metadata
              id_field: fid
              time_field: datetime

    byteroad-workshop:
        type: collection
        title: Demo data for workshop 
        description: Read data from the data lake
        keywords:
            - AWS
        links:
            - type: text/html
              rel: canonical
              title: information
              href: https://www.sawcer.com/
              hreflang: en-US
        extents:
            spatial:
                bbox: [-180, -90, 180, 90]
                crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
            temporal:
                begin: 2011-11-11
                end: null  # or empty
        providers:
            - type: feature
              name: OGR
              data:
                source_type: GeoJSON
                # TODO: edit this to read data from a bucket /vsis3/emotional-cities/data/[BUCKET NAME]/[FILE NAME]
                source: /vsis3/emotional-cities/data/utartu/shops.geojson
                gdal_ogr_options:
                    AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
                    AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
                    #AWS_SESSION_TOKEN:
              id_field: field_1
              layer: shops

    physical_data:
        type: collection
        title: physical data
        description: Data Platform IGOT
        keywords:
            - Lisbon
            - eMOTIONAL Cities
        links:
            - type: text/html
              rel: canonical
              title: metadata
            #   href: https://emotional.byteroad.net/collections/ec_catalog/items/6c22e1572c4f4a44121d0e50cf6141
              hreflang: en-US
        extents:
            spatial:
                bbox: [-9.2298355643394778,38.6913993330390724,-9.0873870796450795,38.7967596910924826]
                crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        providers:
            - type: feature
              name: Elasticsearch
              data: http://elastic_search:9200/a0000000a
              id_field: GRID_ID
            - type: tile
                name: MVT
                data: http://elastic_search:9200/a0000000a/_mvt/geometry/{z}/{x}/{y}?grid_precision=0
                options:
                    metadata_format: raw # default | tilejson
                    zoom:
                        min: 0
                        max: 5
                    schemes:
                        - WorldCRS84Quad
                format:
                    name: pbf
                    mimetype: application/vnd.mapbox-vector-tile
